<!DOCTYPE html>
<html>
  <head>
    <title>RealLifeProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <%= nav_bar fixed: :top, brand: "Pharmacy Campaign Manager", responsive: true do %>
    <%= menu_group do %>
        <%= menu_item "Campaigns", campaigns_path %>
        <%= menu_item "Pharmacies", root_path %>
    <% end %>
<% end %>
  <body>
    <%= yield %>
  </body>
</html>
